---
import { getEntry, render } from 'astro:content';

interface Props {
  langs: String[];
  basePath: string;
}

const { langs, basePath } = Astro.props;
const codeBlocks = [];

// Recoger los bloques de código y renderizarlos (son markdown)
for (const lang of langs) {
  const codeBlock = await getEntry('multi-code-blocks', `${basePath}/${lang}`);
  if (!codeBlock) {
    continue;
  }

  const { Content } = await render(codeBlock);
  codeBlocks.push({
    "lang": lang,
    "content": Content // Para mostrarlo dinámicamente utilizaremos {block.content && <block.content />}
  });
}

const currentSelectedBlockLang = Astro.cookies.get('selected-block-lang') ?? { value: undefined };

if (codeBlocks.length > 0) {
  if (currentSelectedBlockLang.value) {
    // Comprobar si el lenguaje seleccionado está en la lista de bloques de código, si no, seleccionar el primero
    const selectedBlock = codeBlocks.find((block) => block.lang === currentSelectedBlockLang.value);
    if (!selectedBlock) {
      currentSelectedBlockLang.value = codeBlocks[0].lang;
    }
  } else {
    // Seleccionar el primer bloque de código si no existe ningún lenguaje seleccionado
    currentSelectedBlockLang.value = codeBlocks[0].lang;
  
    Astro.cookies.set('selected-block-lang', currentSelectedBlockLang.value, {
      maxAge: 31536000,
      path: '/'
    });
  }
}
---
<div
class="mt-[-1.5rem]"
data-code-block-wrapper={JSON.stringify(langs)}
>
  <div class="flex ml-auto w-fit mb-[-2.75rem] rounded overflow-hidden">
    {codeBlocks.map((block) => (
      <button 
        class="bg-sky-700 hover:bg-sky-800 active:bg-sky-900 text-white font-medium text-sm py-2 px-4 aria-selected:bg-sky-600"
        data-lang={block.lang}
        data-code-block="true"
        aria-selected={block.lang === currentSelectedBlockLang.value ? 'true' : 'false'}
        >
          {block.lang.toUpperCase()}
        </button>
    ))}
  </div>

  {codeBlocks.map((block) => (
    <div 
    data-code-block={block.lang} 
    data-lang={block.lang} 
    style={{ display: block.lang === currentSelectedBlockLang.value ? 'block' : 'none' }}>
        {block.content && <block.content />}
    </div>
  ))}
</div>

<script>
  document.querySelectorAll('button').forEach((button) => {
    button.addEventListener('click', (event) => {
      const lang = (event.target as HTMLButtonElement).getAttribute('data-lang');

      // Evitar cambiar el bloque si ya está seleccionado
      const currentSelectedBlock = document.cookie.replace(/(?:(?:^|.*;\s*)selected-block-lang\s*=\s*([^;]*).*$)|^.*$/, "$1");
      if (currentSelectedBlock === lang) {
        return;
      }

      document.cookie = `selected-block-lang=${lang}; max-age=31536000; path=/`;

      // Seleccionar todos los code block wrappers
      document.querySelectorAll('div[data-code-block-wrapper]').forEach((wrapper: HTMLDivElement) => {
        const langs = JSON.parse(wrapper.getAttribute('data-code-block-wrapper'));

        // Si el lenguaje seleccionado NO está en la lista de lenguajes, cancelar la acción
        if (!langs.includes(lang)) {
          console.log('NO')
          return;
        }

        // Mostrar el bloque de código del lenguaje y ocultar los demás
        wrapper.querySelectorAll('div[data-code-block]').forEach((block: HTMLDivElement) => {
          const blockLang = block.getAttribute('data-lang');

          if (blockLang === lang) {
            block.style.display = 'block';
          } else {
            block.style.display = 'none';
          }
        })

        // Estilos del botón del lenguaje seleccionado
        wrapper.querySelectorAll('button[data-code-block]').forEach((button: HTMLButtonElement) => {
          const buttonLang = button.getAttribute('data-lang');

          if (buttonLang === lang) {
            button.setAttribute('aria-selected', 'true');
          } else {
            button.setAttribute('aria-selected', 'false');
          }
        })
      });
    });
  });
</script>